/* OBJECTIVE LIST */

.update-container {
  width: 96%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #2a525593;
  border-radius: 10px;
  columns: 3;
}

.creatures-return-link-obj {
  position: absolute;
  left: 2rem;
  top: 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background: linear-gradient(-20deg,
  rgba(77, 126, 155, 0.9),
  rgba(124, 161, 182, 0.8));
  box-shadow: 0 0 3px black;
  color: white;
  width: 15rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: transform 0.2s;
}

.creatures-return-link-obj:hover {
  transform: scale(1.1);
}

.objectives-container {
  width: auto;
  height: auto;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

.obj-list-title {
  text-align: center;
  font-size: 2rem;
  color: white;
  margin: 0 auto 2rem auto;
}

.obj-list-container {
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5); 
  width: 55rem;
  height: 40rem;
  margin: 0 auto;
  overflow: auto;
  box-shadow: 0 0 3px black;
}

.swipe-text {
  display: block;
  font-size: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.7);
  font-style: italic;
}

.objectives-list {
  height: 49rem;
  width: 50rem;
  text-align: center;
  margin: 0 auto;
}

.no-obj-text {
  text-align: center;
  font-size: 2rem;
  color: black;
  width: auto;
  word-break: normal;
  display: block;
  margin: 10rem auto;
}

.swipe-text {
  display: none;
}

/* MOBILE */

@media (max-width: 900px) {
  .update-container {
    width: 100%;
    height: auto;
    margin: 4rem auto;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    columns: 1;
  }
  
  .creatures-return-link-obj {
    position: relative;
    top: 0;
    left: 0;
    font-size: 1.7rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background: linear-gradient(-20deg,
    rgba(77, 126, 155, 0.9),
    rgba(124, 161, 182, 0.8));
    box-shadow: 0 0 3px black;
    color: white;
    width: 20rem;
    height: 7.5rem;
  }
  
  .objectives-container {
    width: 90%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    display: block;
  }
  
  .obj-list-title {
    text-align: center;
    font-size: 2rem;
    color: white;
    margin: 0 auto 2rem auto;
    display: block;
  }
  
  .obj-list-container {
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.5); 
    width: 100%;
    height: 40rem;
    margin: 0 auto;
    overflow: auto;
    box-shadow: 0 0 3px black;
    display: block;
  }
  
  .swipe-text {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: 0;
    color: rgba(0, 0, 0, 0.7);
    font-style: italic;
  }
  
  .objectives-list {
    height: auto;
    width: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
  }
  
  .no-obj-text {
    text-align: center;
    font-size: 2rem;
    color: black;
    width: auto;
    word-break: normal;
    display: block;
    margin: 10rem auto;
  }
  
  .swipe-text {
    display: block;
  }
}
