/* OBJECTIVE COMPLETE */

.complete-obj-container {}

.complete-obj-form {
  margin: 0 auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.complete-obj-btn {
  display: block;
  margin: 0 auto;
  background-color: rgba(108, 199, 81, 0.6);
  width: auto;
  height: 5rem;
  font-weight: 600;
  font-size: 0.9rem;
  position: relative;
  border: none;
  box-shadow: 0 0 2px black;
  border-radius: 3px;
  cursor: pointer;
}

.time-text {
  display: block;
  font-size: 0.9rem;
}

.time-input {
  width: 5rem;
}

/* MOBILE */

@media (max-width: 900px) {}
