.creature-info {
  display: block;
  width: 60rem;
  height: auto;
}

.creatures-return-link-update {
  position: absolute;
  left: 2rem;
  top: 5rem;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background: linear-gradient(-20deg,
  rgba(77, 126, 155, 0.9),
  rgba(124, 161, 182, 0.8));
  box-shadow: 0 0 3px black;
  color: white;
  width: 16rem;
  height: 5rem;
  transition: transform 0.2s;
}

.creatures-return-link-update:hover {
  transform: scale(1.1);
}

.creature-update-form {
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
  background: linear-gradient(-45deg,
  #315659,
  #496a6d,
  #608183);
  box-shadow: 0 2px 6px black;
}

.creature-update-form form {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;  
  justify-content: center;
  margin: 0 auto;
  width: auto;
  height: auto;
}

.form-title {
  display: block;
  margin: 1rem auto;
}

#update-input-parent-container {
  display: block;
  margin: 2rem auto;
  columns: 2;
  width: 50rem;
  height: auto;
}

#update-evo-parent-container {
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
}

#update-evo-header-container {
  display: block;
  margin: 0 auto;
  text-align: right;
}

#update-evo-header {
  margin: 0 auto;
}

.update-evo-container {
  columns: 2;
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
}

.update-evo-info-container {
  margin: 0 auto;
  text-align: right;
}

.evo-info {
  text-align: right;
  margin: 0 auto;
}

.evo-input-child-container {
  margin: 0 auto;
}

.select-creature {
  margin: 0.25rem auto;
}

#update-mega-parent-container {}

#mega-header-container {}

#mega-header {}

.update-mega-container {}

.mega {
  margin: 0.10rem auto;
  font-size: 1.5rem;
}

.name-info-container {
  margin: 2rem auto;
}

#name-info {}

.name-input {
  margin: 0 auto;
}

#name {
  font-size: 1.5rem;
}

.update-btn {
  margin: 4rem auto 3rem auto;
  background: gold;
  color: black;
  border: none;
  border-radius: 5px;
  width: 14rem;
  font-weight: 600;
  font-size: 1.4rem;
  height: 3.5rem;
  transition: transform 0.2s;
  box-shadow: 0 0 3px black;
}

.update-btn:hover {
  background: rgb(253, 221, 41);
  transform: scale(1.1);
}

@media (min-width: 120rem) {
  .update-container {
    background-color: rgba(5,53,39, 0.3);
    border-radius: 15px;
    white-space: nowrap;
    flex-direction: row;
    position: absolute;
    top: 10rem;
    left: 0;
  }
}

/* MOBILE */

@media (max-width: 900px) {
  .creature-info {
    display: block;
    width: 100%;
    height: auto;
    background: none;
    border: none;
    box-shadow: none;
    margin: 0 auto;
  }
  
  .creatures-return-link-update {
    position: static;
    display: block;
    margin: 2rem auto;
    font-size: 1.5rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background: linear-gradient(-20deg,
    rgba(77, 126, 155, 0.9),
    rgba(124, 161, 182, 0.8));
    box-shadow: 0 0 3px black;
    color: white;
    width: auto;
    height: 5rem;
    transition: transform 0.2s;
  }
  
  .creature-update-form {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    background: linear-gradient(-45deg,
    #315659,
    #496a6d,
    #608183);
    box-shadow: 0 2px 6px black;
  }
  
  .creature-update-form form {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
  }
  
  .form-title {
    display: block;
    margin: 1rem auto;
    line-height: 5rem;
  }
  
  #update-input-parent-container {
    display: block;
    margin: 2rem auto;
    columns: 1;
    width: 100%;
    height: auto;
  }
  
  #update-evo-parent-container {
    display: block;
    margin: 0 auto 2rem auto;
    width: auto;
    height: auto;
  }
  
  #update-evo-header-container {
    display: block;
    margin: 0 auto 1rem auto;
    text-align: center;
  }
  
  #update-evo-header {
    margin: 0 auto 1rem auto;
    font-size: 1.3rem;
  }
  
  .update-evo-container {
    columns: 2;
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
  }
  
  .update-evo-info-container {
    margin: 0 auto;
    text-align: center;
  }
  
  .evo-info {
    text-align: right;
    margin: 0 auto;
    font-size: 1.3rem;
  }
  
  .evo-input-child-container {
    margin: 0 auto;
    height: auto;
  }
  
  .select-creature {
    margin: 0.25rem auto;
  }
  
  #update-mega-parent-container {}
  
  #mega-header-container {}
  
  #mega-header {
    font-size: 1.3rem;
  }
  
  .update-mega-container {}
  
  .mega {
    margin: 0.25rem auto;
    font-size: 1.5rem;
    width: auto;
  }
  
  .name-info-container {
    margin: 2rem auto;
  }
  
  #name-info {
    font-size: 1.5rem;
  }
  
  .name-input {
    margin: 0 auto;
  }
  
  #name {
    font-size: 1.5rem;
  }
  
  .update-btn {
    margin: 4rem auto 3rem auto;
    background: gold;
    color: black;
    border: none;
    border-radius: 5px;
    width: 14rem;
    font-weight: 600;
    font-size: 1.4rem;
    height: 4rem;
    transition: transform 0.2s;
    box-shadow: 0 0 3px black;
  }
  
  .update-btn:hover {
    background: rgb(253, 221, 41);
    transform: scale(1.1);
  }
}
