.creature {
  width: 250px;
  max-width: 250px;
  min-width: 250px;
  height: auto;
  border: 4px groove #FFC15E;
  border-radius: 7.5px;
  padding: 0 20px;
  margin: 50px auto;
  box-shadow: 0px 0px 3px black;
}

.objective-container {}

/* MOBILE */

@media (max-width: 900px) {
  .creature {
    width: 300px;
    height: 400px;
    border-radius: 7.5px;
    padding-top: 10px;
    margin: 10px auto 40px auto;
  }
}