.creature-info {
  display: block;
  width: 60rem;
  height: auto;
}

.creatures-return-link-update {
  position: absolute;
  left: 2rem;
  top: 5rem;
  font-size: 1.15rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background: linear-gradient(-20deg,
  rgba(77, 126, 155, 0.9),
  rgba(124, 161, 182, 0.8));
  box-shadow: 0 0 3px black;
  color: white;
  width: 15rem;
  height: 5rem;
  transition: transform 0.2s;
}

.creatures-return-link-update:hover {
  transform: scale(1.1);
}

.creature-update-form {
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
}

.creature-update-form form {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;  
  justify-content: center;
  margin: 0 auto;
  width: auto;
  height: auto;
}

.form-title {
  display: block;
  margin: 1rem auto;
}

#update-input-parent-container {
  display: block;
  margin: 2rem auto;
  columns: 2;
  width: 50rem;
  height: auto;
}

#update-evo-parent-container {
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
}

#update-evo-header-container {
  display: block;
  margin: 0 auto;
  text-align: right;
}

#update-evo-header {
  margin: 0 auto;
}

.update-evo-container {
  columns: 2;
  display: block;
  margin: 0 auto;
  width: auto;
  height: auto;
}

.update-evo-info-container {
  margin: 0 auto;
  text-align: right;
}

.evo-info {
  text-align: right;
  margin: 0 auto;
}

.evo-input-child-container {
  margin: 0 auto;
}

.select-creature {
  margin: 0.25rem auto;
}

#update-mega-parent-container {}

#mega-header-container {}

#mega-header {}

.update-mega-container {}

.mega {
  margin: 0.10rem auto;
}

.name-info-container {}

#name-info {}

.name-input {}

#name {}

.update-btn {}

@media (min-width: 120rem) {
  .update-container {
    background-color: rgba(5,53,39, 0.3);
    border-radius: 15px;
    white-space: nowrap;
    flex-direction: row;
    position: absolute;
    top: 10rem;
    left: 0;
  }
}

/* MOBILE */

@media (max-width: 900px) {
  .creature-info {}

  .creature-update-form {}

  .creature-update-form form {}

  .update-container {
    width: auto;
    height: auto;
    margin: 0 auto;
    padding: 0 0 4rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .creatures-return-link-update {
    position: absolute;
    left: 20px;
    top: 100px;
    font-size: 1.15rem;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    background: linear-gradient(-20deg,
    rgba(77, 126, 155, 0.9),
    rgba(124, 161, 182, 0.8));
    box-shadow: 0 0 3px black;
    color: white;
    width: 200px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
