/* CREATURE DISPLAY */

.creature-display {
  margin: 0 auto;
  display: block;
  height: 37.5rem;
  max-height: 37.5rem;
  min-height: 37.5rem;
  width: auto;
}

#creature-list-header {
  display: none;
}

.header-container {
  height: 7.5rem;
  position: relative;
  top: 1rem;
  font-size: 1.25rem;
}

.creature-display li {
  margin: 0 auto;
  display: block;
  text-align: center;
  line-height: 0.75rem;
  height: 35rem;
}

.creature-name {
  font-size: 1.3rem;
  font-weight: 600;
}

.creature-purpose-name {
}

.creature-level {}

.creature-sprite {
  display: block;
  height: 15rem;
  margin: 3rem auto;
  position: relative;
  top: 20px;
}

.footer-container {
  position: relative;
  height: 100px;
  margin: 0 auto;
  display: block;
  bottom: 5px;
}

.exp-container {
  display: block;
  position: relative;
  top: 1rem;
  margin: 2.5rem auto;
}

.creature-exp {
  margin: 0 auto -1.5rem auto;
  font-size: 1.4rem;
}

.exp-bar {
  width: 15rem;
  border: 1px solid black;
  border-radius: 20px;
  height: 0.7rem;
  overflow: hidden;
  display: flex;
  flex: auto;
  flex-direction: row;
  margin: 0 auto;
}

.exp-filled {
  height: 100%;
}

.exp-animation {
  background-color: rgb(33,140,255);
  transition: width 0.75s;
  height: 100%;
}

.exp-empty {
  background-color: white;
  height: 100%;
}

.view-info-btn-container {
  text-align: center;
  display: block;
  margin: 0 auto;
  position: relative;
  bottom: 0;
  top: 1rem;
}

.view-info-btn {
  background-color:  #FFC15E;
  color: black;
  width: auto;
  height: auto;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px black;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
}

.view-info-btn:hover {
  background: rgb(247, 211, 95);
  transform: scale(1.05);
}

.view-info-btn:active {
  background: #FFC15E;
  transform: scale(0.95);
}

.streak-container-fluid {}

.streak-container {
  position: absolute;
  right: -1rem;
  bottom: 1rem;
  float: right;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex: 1;
}

.streak-icon-container {}

.streak-icon {
  background-image: '../../images/fire.png';
  background-size: cover;
  width: 25px;
  height: auto;
}

.streak-count-container {
  margin: 0 2px;
  position: relative;
  bottom: -2px;
}

.streak-count {
  font-size: 1rem;
  text-align: right;
  float: right;
}

/* MOBILE */

@media (max-width: 900px) {
  .creature-display {
    margin: 0 auto;
    display: block;
    height: auto;
  }
  
  .header-container {
    height: 7.5rem;
    position: relative;
    top: 10px;
  }
  
  .creature-display li {
    margin: 0 auto;
    display: block;
    text-align: center;
    line-height: 0.75rem;
    height: 35rem;
  }
  
  .creature-name {
    font-size: 1.3rem;
    font-weight: 600;
  }
  
  .creature-purpose-name {
    font-size: 1.3rem;
  }
  
  .creature-level {
    font-size: 1.5rem;
  }
  
  .creature-sprite {
    display: block;
    height: 15rem;
    margin: 3rem auto 1.5rem auto;
    position: relative;
    top: 2rem;
  }
  
  .footer-container {
    position: relative;
    height: 10rem;
    margin: 0 auto;
    display: block;
    bottom: 0.5rem;
  }
  
  .exp-container {
    display: block;
    position: relative;
    top: 1rem;
    margin: 2rem auto 3rem auto;
    font-size: 1.1rem;
  }
  
  .creature-exp {
    margin: 0 auto -1.5rem auto;
  }
  
  .exp-bar {
    width: 18rem;
    border: 1px solid black;
    border-radius: 2rem;
    height: 1.2rem;
    overflow: hidden;
    display: flex;
    flex: auto;
    flex-direction: row;
    margin: 0 auto;
  }
  
  .exp-filled {
    height: 100%;
  }
  
  .exp-animation {
    background-color: rgb(33,140,255);
    transition: width 0.75s;
    height: 100%;
  }
  
  .exp-empty {
    background-color: white;
    height: 100%;
  }
  
  .view-info-btn-container {
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    bottom: 0;
    top: 1rem;
  }
  
  .view-info-btn {
    width: auto;
    height: auto;
    font-size: 1.4rem;
    padding: 1rem 2rem;
    margin: 1rem auto;
  }
}
