/* FORGOT PASWORD FORM */

.forgot-password-container {
  display: block;
  margin: 2rem auto;
  width: 100%;
  height: auto;
}

.return-home-link {
  font-size: 1.5rem;
  font-weight: 600;
  width: 14rem;
  height: 5rem;
  color: rgb(236, 236, 236);
  background: linear-gradient(-20deg,
  rgba(77, 126, 155, 0.9),
  rgba(124, 161, 182, 0.8));
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  position: absolute;
  top: 2rem;
  left: 4rem;
  box-shadow: 0 0 3px black;
  transition: transform 0.3s;
}

.forgot-password-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  margin: 4rem auto;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(-45deg,
  #315659,
  #496a6d,
  #608183);
  box-shadow: 0 2px 6px black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  border-radius: 5px;
  padding: 4rem;
  width: 50rem;
  height: auto;
}

.return-home-link:hover {
  transform: scale(1.1);
}

.forgot-info {
  display: block;
  font-size: 1.25rem;
  margin: 0.5rem auto 2rem auto;
}

.email-forgot-input input {
  margin: 2rem auto;
  font-size: 1.75rem;
}

.loading {
  position: static;
  display: block;
  text-align: center;
  margin: 4rem auto 0 auto;
  width: 20rem;
}

.loading-text {
  font-size: 2rem;
  font-weight: 600;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.get-code-btn {
  width: 17.5rem;
  height: 4rem;
  background: #FFC15E;
  color: black;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 3rem auto;
  cursor: pointer;
  transition: transform 0.2s;
  box-shadow: 0 0 3px black;
}

.get-code-btn:hover {
  transform: scale(1.1);
}

/* MOBILE */

@media (max-width: 900px) {
  .forgot-password-container {
    display: block;
    margin: 5rem auto;
    width: 100%;
    height: auto;
  }

  .return-home-link {
    font-size: 1.5rem;
    font-weight: 600;
    width: 14rem;
    height: 5rem;
    color: rgb(236, 236, 236);
    background: linear-gradient(-20deg,
    rgba(77, 126, 155, 0.9),
    rgba(124, 161, 182, 0.8));
    border: none;
    display: block;
    border-radius: 0.5rem;
    position: static;
    box-shadow: 0 0 3px black;
    margin: 0 auto;
  }

  .forgot-password-form-container {
    display: block;
    position: static;
    margin: 5rem auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    background: linear-gradient(-45deg,
    #315659,
    #496a6d,
    #608183);
    box-shadow: 0 2px 6px black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border-radius: 5px;
    width: 90%;
    height: auto;
    padding: 2rem;
  }
 
  .input-header {
    color: white;
    display: block;
  }

  .forgot-info {
    display: block;
    font-size: 1.3rem;
    margin: 0.5rem auto 2rem auto;
  }
  
  .email-forgot-input input {
    margin: 2rem auto;
    font-size: 1.75rem;
  }
  
  .get-reset-code {}
  
  .loading {
    position: absolute;
    top: 10rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  
  .loading-text {
    font-size: 2rem;
    font-weight: 600;
    display: block;
  }
  
  .get-code-btn {
    width: 17.5rem;
    height: 4rem;
    background: #FFC15E;
    color: black;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin: 3rem auto;
    box-shadow: 0 0 3px black;
    font-size: 1.7rem;
  }
}