/* FORGOT PASWORD FORM */

.forgot-password-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  margin: 275px auto 0 auto;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(-45deg,
  rgba(94, 100, 114, 1),
  rgba(105, 111, 124, 0.8),
  rgba(122, 128, 139, 0.7));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 0 0 3px black;
  border-radius: 5px;
  padding: 40px;
  width: 600px;
  height: auto;
}

.forgot-info {
  display: block;
  font-size: 1.25rem;
  margin: 5px auto 20px auto;
}

.forgot-password-form form {}

.email-forgot-input {}

.email-forgot-input label {}

.email-forgot-input input {
  margin: 20px auto;
  font-size: 1.75rem;
}

.get-reset-code {}

.loading {
  position: absolute;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  left: 850px;
  top: 225px;
}

.loading-text {
  font-size: 2rem;
  font-weight: 600;
  display: block;
}

.get-code-btn {
  width: 175px;
  height: 40px;
  background: #FFC15E;
  color: black;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 30px auto;
  cursor: pointer;
}

/* MOBILE */

@media (max-width: 900px) {
  .forgot-password-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    margin: 300px auto 0 auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    box-shadow: 0 0 3px black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border-radius: 5px;
    width: auto;
    height: auto;
  }
  
  .forgot-info {
    display: block;
    font-size: 1.25rem;
    margin: 5px auto 20px auto;
  }
  
  .forgot-password-form form {}
  
  .email-forgot-input {}
  
  .email-forgot-input label {}
  
  .email-forgot-input input {
    margin: 20px auto;
    font-size: 1.35rem;
  }
  
  .get-reset-code {}
  
  .loading {
    display: none;
  }
  
  .loading-text {
    font-size: 2rem;
    font-weight: 600;
    display: block;
  }
  
  .get-code-btn {
    width: 175px;
    height: 40px;
    color: black;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 30px auto;
    cursor: pointer;
  }
}