/* LOGIN FORM */

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
}

.login-title {
  font-size: 2rem;
  font-weight: 600;
  margin: 3rem auto 0.5rem auto; 
}

.login-form-container form {
  display: flex;
  width: 100%;
  height: auto;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
  margin: 0 auto;
}

.username-login {
  margin: 1rem auto;
  text-align: center;
}

.username-login label {
  margin: 1rem auto;
  display: block;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}

.username-login input {
  display: block;
  margin: 1rem auto 0 auto;
  font-size: 1.5rem;
  text-align: left;
}

.email-login {
  text-align: center;
  margin: 1rem auto;
}

.email-login label {
  display: block;
  margin: 1rem auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}

.email-login input {
  display: block;
  margin: 1rem auto 0 auto;
  font-size: 1.5rem;
  text-align: left;
}

.password-login {
  text-align: center;
  margin: 1rem auto 0 auto;
}

.password-login label {
  display: block;
  margin: 1rem auto;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}

.password-login input {
  display: block;
  margin: 1rem auto;
  font-size: 1.5rem;
  text-align: left;
}

.forgot-password-link,
.forgot-password-link:active {
  font-size: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  width: 100%;
  margin: 0 auto 1.5rem auto;
  background: none;
  border: none;
  color: rgb(241, 241, 241);
  cursor: pointer;
}

.forgot-password-link:hover {
  color: rgb(200, 200, 200);
}

.login-btn {
  width: 15rem;
  height: 4rem;
  border-radius: 5px;
  background-color:#FFC15E;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 1rem auto 0 auto;
  border: none;
  cursor: pointer;
  background-position: center;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  transition: transform;
}

.login-btn:hover {
  transform: scale(1.1);
}

.login-btn {
  transition-duration: 0.8s;
}

.login-btn:hover {
  background: #ffc972 radial-gradient(circle, transparent 1%, #fdc66c 1%) center/15000%;
}

.login-btn:active {
  background: #FFC15E;
  background-size: 100%;
  transition: 0s;
}

/* MOBILE */

@media (max-width: 900px) {
  .login-form-container {
  }
  
  .login-title { 
  }
  
  .login-form-container form {
  }
  
  .username-login {
  }
  
  .username-login label {
    font-size: 1.7rem;
  }
  
  .username-login input {
    font-size: 1.5rem;
    text-align: left;
  }
  
  .email-login {
  }
  
  .email-login label {
    font-size: 1.7rem;
  }
  
  .email-login input {
    font-size: 1.5rem;
    text-align: left;
  }
  
  .password-login {
  }
  
  .password-login label {
    font-size: 1.7rem;
  }
  
  .password-login input {
    font-size: 1.5rem;
    text-align: left;
  }
  
  .forgot-password-link {
  }
  
  .login-btn {
  }
  
  .login-btn {
  }
}
