/* RESET PASSWORD FORM */

.reset-password-container {
}

.cancel-reset-btn {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 150px;
  background: rgb(224, 224, 224);
  color: black;
  border: none;
  font-size: 1.35rem;
  font-weight: 600;
  border-radius: 2px;
  box-shadow: 0 0 4px black;
}

.reset-password-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  margin: 225px auto 0 auto;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  background: linear-gradient(-45deg,
  #315659,
  #496a6d,
  #608183);
  box-shadow: 0 2px 6px black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  border-radius: 5px;
  padding: 70px 50px;
  width: 600px;
  height: auto;
}

.password-input {
  display: block;
  margin: 0 auto 50px auto;
  text-align: center;
}

.password-input label {
  display: block;
}

.password-input input {
  font-size: 1.25rem;
  margin: 20px 0;;
  text-align: left;
}

.first-password-input input {
  margin: 20px 0 0 40px;
  text-align: center;
}

.show-password {
  position: relative;
  left: 40px;
  width: auto;
  height: auto;
  font-size: 1.5rem;
}

.confirm-password-input {}

.confirm-password-input label {
}

.confirm-password-input input {
  font-size: 1.25rem;
  display: block;
  margin: 20px auto;
}

.submit-password-reset {}

.submit-reset-btn {
  width: 175px;
  height: 40px;
  background: #FFC15E;
  color: black;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 30px auto 0 auto;
  cursor: pointer;
  border-radius: 5px;
}

/* MOBILE */

@media (max-width: 900px) {
  .reset-password-container {
  }
  
  .cancel-reset-btn {
    position: absolute;
    width: 200px;
    height: 50px;
    top: 175px;
    right: 85px;
    border: none;
    font-size: 1.35rem;
    font-weight: 600;
    border-radius: 2px;
    box-shadow: 0 0 4px black;
  }
  
  .reset-password-container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    margin: 250px auto 0 auto;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border-radius: 5px;
    width: 80vw;
    height: auto;
    position: fixed;
    left: -10px;
  }

  .show-password {
    display: block;
    position: fixed;
    top: 260px;
    left: 300px;
    width: auto;
    height: auto;
    font-size: 1.5rem;
  }
  
  .password-input {
    margin: 0 auto 50px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .password-input label {
    display: block;
  }
  
  .password-input input {
    font-size: 1.25rem;
    display: block;
    margin: 20px auto 5px auto;
  }
  
  .confirm-password-input {}
  
  .confirm-password-input label {
  }
  
  .confirm-password-input input {
    font-size: 1.25rem;
    display: block;
    margin: 20px auto;
  }
  
  .submit-password-reset {}
  
  .submit-reset-btn {
    width: 175px;
    height: 40px;
    color: black;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 30px auto 0 auto;
    cursor: pointer;
    border-radius: 5px;
  }
} 