/* CREATE USER FORM */

.user-create-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  font-weight: 600;
  margin: 2rem auto;
}

.return-home-link {
  font-size: 1.5rem;
  font-weight: 600;
  width: 14rem;
  height: 5rem;
  color: rgb(236, 236, 236);
  background: linear-gradient(-20deg,
  rgba(77, 126, 155, 0.9),
  rgba(124, 161, 182, 0.8));
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  position: absolute;
  top: 2rem;
  left: 4rem;
  box-shadow: 0 0 3px black;
  transition: transform 0.3s;
}

.return-home-link:hover {
  transform: scale(1.1);
}

.create-user-form-container {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}

.username-err,
.email-err,
.password-err {
  font-size: 2rem;
  margin: 0 auto -2rem auto;
}

.create-error-text {}

.create-user-title {
  font-size: 2.2rem;
  font-weight: 600;
  margin: 2rem auto;
  color: white;
}

.create-user-form {
  width: 100%;
  height: auto;
  margin: 6rem;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg,
  #315659,
  #496a6d,
  #608183);
  box-shadow: 0 2px 6px black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  border-radius: 10px;
}

.create-user-form form {
  display: flex;
  height: auto;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
}

.username-create {
  display: block;
  margin: 1rem auto;
  text-align: center;
  font-size: 1.7rem;
}

.username-create label {
  display: block;
  margin: 1rem auto;
}

.username-create input {
  display: block;
  margin: 1rem auto;
  font-size: 1.6rem;
  text-align: left;
}

.email-create {
  display: block;
  margin: 1rem auto;
  text-align: center;
  font-size: 1.7rem;
}

.email-create label {
  display: block;
  margin: 1rem auto;
}

.email-create input {
  display: block;
  margin: 1rem auto;
  font-size: 1.6rem;

}

.password-create {
  display: block;
  margin: 1rem auto;
  text-align: center;
  font-size: 1.7rem;
}

.password-create label {
  display: block;
  margin: 1rem auto;
}

.password-create input {
  display: block;
  margin: 1rem auto;
  font-size: 1.6rem;
  text-align: left;
}

.confirm-password-create {
  display: block;
  margin: 1rem auto;
  text-align: center;
  font-size: 1.7rem;
}

.confirm-password-create label {
  display: block;
  margin: 1rem auto;
}

.confirm-password-create input {
  display: block;
  margin: 1rem auto;
  font-size: 1.6rem;
  text-align: left;
}

.create-user-btn-container {
  margin: 0 auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.create-user-btn {
  width: 14rem;
  height: 4rem;
  border-radius: 5px;
  background-color: #FFC15E;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 2rem auto;
  border: none;
  cursor: pointer;
  background-position: center;
  transition: transform 0.2s;
}

.create-user-btn:hover {
  transform: scale(1.1);
}

/* MOBILE */

@media (max-width: 900px) {
  .user-create-page {
  }
  
  .create-user-form-container {
  }
  
  .username-err,
  .email-err,
  .password-err {
  }
  
  .create-error-text {}
  
  .create-user-title {
  }
  
  .create-user-form {
    width: auto;
    position: relative;
    left: -70px;
    top: 180px;
  }
  
  .create-user-form form {
  }
  
  .username-create {
  }
  
  .username-create label {
  }
  
  .username-create input {
    font-size: 1.35rem;
  }
  
  .email-create {
  }
  
  .email-create label {
  }
  
  .email-create input {
    font-size: 1.35rem;
  }
  
  .password-create {
  }
  
  .password-create label {
  }
  
  .password-create input {
    font-size: 1.35rem;
  }
  
  .confirm-password-create {
  }
  
  .confirm-password-create label {
  }
  
  .confirm-password-create input {
    font-size: 1.35rem;
  }
  
  .create-user-btn-container {
  }
  
  .create-user-btn {
  }
}