.return-home-link {
  position: absolute;
  left: 200px;
  top: 100px;
  font-size: 1.5rem;
  border: rgb(35, 161, 211);
  border-radius: 5px;
  background: rgb(35, 161, 211);
  color: white;
  width: 200px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-container {
  position: absolute;
  top: 100px;
  right: 150px;
}

.logout-btn-container {}

.logout-btn {
  width: 125px;
  height: 35px;
  border: rgb(247, 243, 27);
  background: rgb(247, 243, 27);
  box-shadow: 0 0 3px black;
  font-weight: 600;
  font-size: 1rem;
}

/* LOGIN FORM */

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
}

.login-form-container form {
  display: flex;
  width: 35%;
  height: auto;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
}

.username-login {
  margin: 10px auto;
  text-align: center;
}

.username-login label {
  margin: 10px auto;
  display: block;
}

.username-login input {
  display: block;
  margin: 10px auto;
  font-size: 1.25rem;
}

.email-login {
  text-align: center;
  margin: 10px auto;
}

.email-login label {
  display: block;
  margin: 10px auto;
}

.email-login input {
  display: block;
  margin: 10px auto;
  font-size: 1.25rem;
}

.password-login {
  text-align: center;
  margin: 10px auto 0 auto;
}

.password-login label {
  display: block;
  margin: 10px auto;
}

.password-login input {
  display: block;
  margin: 10px auto;
  font-size: 1.25rem;
}

.forgot-password-link {
  font-size: 1rem;
  text-decoration: none;
  width: 100%;
  margin: 0 auto 40px auto;
  color: rgb(175, 175, 175);
}

.login-form-container a:link,
.login-form-container a:visited {
  color: rgb(18, 18, 206);
}

.login-btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: gold;
  font-weight: 600;
  font-size: 1rem;
  margin: 10px auto;
  border: none;
  cursor: pointer;
  background-position: center;
  text-transform: uppercase;
}

.login-btn {
  transition-duration: 0.8s;
}

.login-btn:hover {
  background: rgb(255, 228, 75) radial-gradient(circle, transparent 1%, rgb(255, 228, 75) 1%) center/15000%;
}

.login-btn:active {
  background: rgb(240, 223, 131);
  background-size: 100%;
  transition: 0s;
}

/* CREATE USER FORM */

.user-create-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  font-weight: 600;
  margin: 20px auto;
}

.create-user-form-container {
  margin: 40px auto;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}

.username-err,
.email-err,
.password-err {
  font-size: 2rem;
}

.create-error-text {}

.create-user-form {
  width: 100%;
  height: auto;
  margin: 60px 60px;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg,
  rgba(5,53,39, 0.9),
  rgba(67,128,41, 0.9),
  rgba(97,154,70, 0.7));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  border-radius: 10px;
}

.create-user-form form {
  display: flex;
  height: auto;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
}

.username-create {
  display: block;
  margin: 10px auto;
  text-align: center;
}

.username-create label {
  display: block;
  margin: 10px auto;
}

.username-create input {
  display: block;
  margin: 10px auto;
  font-size: 1.25rem;
}

.email-create {
  display: block;
  margin: 10px auto;
  text-align: center;
}

.email-create label {
  display: block;
  margin: 10px auto;
}

.email-create input {
  display: block;
  margin: 10px auto;
  font-size: 1.25rem;
}

.password-create {
  display: block;
  margin: 10px auto;
  text-align: center;
}

.password-create label {
  display: block;
  margin: 10px auto;
}

.password-create input {
  display: block;
  margin: 10px auto;
  font-size: 1.25rem;
}

.confirm-password-create {
  display: block;
  margin: 10px auto;
  text-align: center;
}

.confirm-password-create label {
  display: block;
  margin: 10px auto;
}

.confirm-password-create input {
  display: block;
  margin: 10px auto;
  font-size: 1.25rem;
}

.create-user-btn-container {
  margin: 0 auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.create-user-btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: gold;
  font-weight: 600;
  font-size: 1rem;
  margin: 20px auto;
  border: none;
  cursor: pointer;
  background-position: center;
}

/* USER MAIN PAGE */

.user-container {
  margin: 100px auto 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  width: 100%;
  border: 2px solid red;
  text-align: center;
}

.view-creatures-btn {
  display: block;
  margin: 40px auto;
  width: 250px;
  height: 100px;
  font-size: 2rem;
  font-weight: 600;
}

.edit-user-link {
  display: block;
  font-size: 2rem;
  font-weight: 600;
}

.user-container a:link,
.user-container a:visited {
  text-decoration: none;
  color: gold;
}

/* EDIT USER PAGE */

.user-info {}

.view-creatures-link {}

.user-update-form {}

.user-update-form form {}

.form-title {}

.user-info-tip {}

.username-label {}

.username-label label {}

.username-input {}

.username-input input {}

.email-label {}

.email-label label {}

.email-input {}

.email-input input {}

.password-label {}

.password-label label {}

.password-input {}

.password-input input {}

.update-user-btn-container {}

.update-user-btn {}

.delete-user-btn {}

.confirm-delete {}

.confirm-delete label {}

.confirm-delete input {}

.confirm-delete-user-btn {}

/* FORGOT PASWORD FORM */

.forgot-password-form {}

.forgot-password-form form {}

.email-forgot-input {}

.email-forgot-input label {}

.email-forgot-input input {}

.get-reset-code {}

.get-code-btn {}

/* RESET CODE FORM */

.reset-code-form {}

.reset-code-form form {}

.reset-code-form input {}

.submit-code-btn {}

.resend-code {}

.resend-code-text {}

.resend-code-btn {}

/* RESET PASSWORD FORM */

.reset-password-container {}

.cancel-reset-btn {}

.reset-password-container form {}

.password-input {}

.password-input label {}

.password-input input {}

.show-password {}

.confirm-password-input {}

.confirm-password-input label {}

.confirm-password-input input {}

.submit-password-reset {}

.submit-reset-btn {}
