/* EDIT USER PAGE */

.user-info {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  columns: 3;
}

.view-creatures-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  font-weight: 600;
  background: linear-gradient(-20deg,
  rgba(47, 124, 66, 0.9),
  rgba(111, 167, 125, 0.8));
  color:  white;
  width: 20rem;
  height: 7rem;
  margin-left: auto;
  border-radius: 4px;
  box-shadow: 0 0 3px black;
  border: none;
  transition: transform 0.2s;
  cursor: pointer;
}

.view-creatures-link:hover {
  background: linear-gradient(-20deg,
  rgba(72, 161, 95, 0.9),
  rgba(137, 190, 150, 0.8));
  transform: scale(1.1);
}

.user-update-form {
  width: 30rem;
  height: auto;
  margin: 2rem 6rem;
  text-align: center;
  display: block;
  border-radius: 10px;
  background: linear-gradient(-45deg,
  #315659,
  #496a6d,
  #608183);
  box-shadow: 0 2px 6px black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  border: none;
  color: black;
}

.user-update-form form {
  font-size: 1.5rem;
  font-weight: 600;
}

.form-title {
  margin: 2rem auto 0 auto;
  display: block;
  color:  rgb(51, 51, 51);
}

.user-info-tip {
  font-size: 1rem;
  margin: 0 auto;
  display: block;
  color: rgb(51, 51, 51);
}

.username-label {
  margin: 1.5rem auto 0.5rem auto;
}

.username-input {
  margin: 0 auto;
}

.username-input input {
  font-size: 1.25rem;
  text-align: left;
  margin: 0 auto;
}

.email-label {
  margin: 3rem auto 0.5rem auto;
}

.email-input {
  margin: 0 auto;
}

.email-input input {
  font-size: 1.25rem;
  text-align: left;
  margin: 0 auto;
}

.password-label {
  margin: 3rem auto 0.5rem auto;
}

.password-input {
  margin: 0 auto;
}

.password-input input {
  font-size: 1.25rem;
  margin: 0 auto;
  text-align: left;
}

.update-user-btn-container {
  margin: 3rem auto 2rem auto;
}

.update-user-btn {
  width: 125px;
  height: 30px;
  background:#FFC15E;
  color: black;
  border: none;
  font-weight: 600;
  font-size: 1.5rem;
  border-radius: 5px;
  transition: transform 0.3s;
  cursor: pointer;
}

.update-user-btn:hover {
  background: #ffcb77;
  transform: scale(1.1);
}

/* DELETE USER MODAL */

.delete-user-container {
  background: linear-gradient(-45deg,
  rgba(255, 255, 255, 0.4),
  rgba(255, 255, 255, 0.3),
  rgba(255, 255, 255, 0.2));
  width: 20rem;
  height: auto;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 3px black;
  display: block;
  margin-right: auto;
  padding-bottom: 2rem;
}

.delete-title {
  margin: 30px auto;
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

.delete-user-btn-container {
  display: block;
}

.delete-user-btn {
  background: rgb(173, 70, 80);
  width: 150px;
  height: 40px;
  font-size: 1rem;
  font-weight: 600;
  border: 2px groove rgb(173, 70, 80);
}

.confirm-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px auto;
}

.confirm-delete label {
  font-size: 1.35rem;
  margin: 20px auto 5px auto;
}

.confirm-delete input {
  font-size: 1.2rem;
  text-align: left;
}

.confirm-delete-user-btn {
  background: rgb(179, 30, 45);
  color: white;
  border: none;
  margin: 15px auto;
  width: 125px;
  height: 30px;
  font-weight: 600;
  font-size: .9rem;
}

/* MOBILE */

@media (max-width: 900px) {
  .user-info {
    margin: 5rem auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .user-info a {
    text-decoration: none;
    width: 0;
  }
  
  .view-creatures-link {
    display: block;
    margin: 0 auto;
  }
  
  .user-info a:link,
  .user-info a:visited {
    text-decoration: none;
  }
  
  .user-update-form {
    width: 100%;
    height: auto;
    margin: 20px 60px;
    padding: 10px 40px;
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border: none;
    box-shadow: 0 0 3px black;
  }
  
  .user-update-form form {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .form-title {
    margin: 20px auto;
    display: block;
  }
  
  .user-info-tip {
    font-size: 1rem;
    margin: 0 auto 40px auto;
    display: block;
  }
  
  .username-label {
  }
  
  .username-label label {
    font-size: 1.6rem;
  }
  
  .username-input {
  }
  
  .username-input input {
    font-size: 1.5rem;
  }
  
  .email-label {
  }
  
  .email-label label {
    font-size: 1.6rem;
  }
  
  .email-input {
  }
  
  .email-input input {
    font-size: 1.5rem;
  }
  
  .password-label {
  }
  
  .password-label label {
    font-size: 1.6rem;
  }
  
  .password-input input {
    font-size: 1.5rem;
  }
  
  .update-user-btn-container {
  }
  
  .update-user-btn {
  } 

  /* DELETE USER MODAL */
  
  .delete-user-container {
    display: block;
    background: linear-gradient(-45deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.2));
    width: 22rem;
    padding-bottom: 2rem;
    height: auto;
    border-radius: 5px;
    border: none;
    margin: 20px auto 30px auto;
  }
  
  .delete-title {
    margin: 30px auto;
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: black;
  }
  
  .delete-user-btn-container {
    display: block;
  }
  
  .delete-user-btn {
    width: 150px;
    height: 40px;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .confirm-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem auto;
  }
  
  .confirm-delete label {
    font-size: 1.3rem;
    margin: 20px auto 5px auto;
  }
  
  .confirm-delete input {
    font-size: 1.25rem;
  }
  
  .confirm-delete-user-btn {
    color: white;
    border: none;
    margin: 15px auto;
    width: 125px;
    height: 30px;
    font-weight: 600;
    font-size: 1.2rem;
  }
}
