.return-home-link {
  position: absolute;
  left: 200px;
  top: 100px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  background: linear-gradient(-35deg,
  rgba(5,53,39, 0.8) 30%,
  rgba(67,128,41, 0.8),
  rgba(97,154,70, 0.8));
  box-shadow: 0 0 4px black;
  color: gold;
  width: 200px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-container {
  position: absolute;
  top: 120px;
  right: 100px;
}

.logout-btn-container {}

.logout-btn {
  width: 125px;
  height: 35px;
  border: rgb(112, 112, 112);
  background: rgb(112, 112, 112);
  box-shadow: 0 0 3px black;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

 /* MOBILE */

 @media only screen and (max-device-width: 550px) {
   .return-home-link {
     position: relative;
     top: 0;
   }

   .logout-container {
     right: 127px;
     top: 170px;
   }

   .logout-btn {}
 }

/* LOGIN FORM */

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  margin: 0 auto;
  text-align: center;
  font-weight: 600;
}

.login-title {
  font-size: 2rem;
  font-weight: 600;
  margin: 30px auto 20px auto; 
}

.login-form-container form {
  display: flex;
  width: 35%;
  height: auto;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
}

.username-login {
  margin: 10px auto;
  text-align: center;
}

.username-login label {
  margin: 10px auto;
  display: block;
  font-family: 'Open Sans', sans-serif;
}

.username-login input {
  display: block;
  margin: 10px auto;
  font-size: 1.25rem;
}

.email-login {
  text-align: center;
  margin: 10px auto;
}

.email-login label {
  display: block;
  margin: 10px auto;
  font-family: 'Open Sans', sans-serif;
}

.email-login input {
  display: block;
  margin: 10px auto;
  font-size: 1.25rem;
}

.password-login {
  text-align: center;
  margin: 10px auto 0 auto;
}

.password-login label {
  display: block;
  margin: 10px auto;
  font-family: 'Open Sans', sans-serif;
}

.password-login input {
  display: block;
  margin: 10px auto;
  font-size: 1.25rem;
}

.forgot-password-link {
  font-size: 1rem;
  text-decoration: none;
  width: 100%;
  margin: 0 auto 40px auto;
  color: rgb(241, 241, 241);
}

.login-form-container a:link,
.login-form-container a:visited {
  color: rgb(18, 18, 206);
}

.login-btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(251,202,99);
  font-weight: 600;
  font-size: 1rem;
  margin: 10px auto;
  border: none;
  cursor: pointer;
  background-position: center;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
}

.login-btn {
  transition-duration: 0.8s;
}

.login-btn:hover {
  background: rgb(247,210,132) radial-gradient(circle, transparent 1%, rgb(247, 210, 132) 1%) center/15000%;
}

.login-btn:active {
  background: rgb(248, 235, 158);
  background-size: 100%;
  transition: 0s;
}

/* MOBILE LOGIN PAGE */

@media only screen and (max-device-width: 550px) {
  .login-form-container {
  }
  
  .login-title { 
  }
  
  .login-form-container form {
  }
  
  .username-login {
  }
  
  .username-login label {
  }
  
  .username-login input {
    font-size: 1.35rem;
  }
  
  .email-login {
  }
  
  .email-login label {
  }
  
  .email-login input {
    font-size: 1.35rem;
  }
  
  .password-login {
  }
  
  .password-login label {
  }
  
  .password-login input {
    font-size: 1.35rem;
  }
  
  .forgot-password-link {
  }
  
  .login-form-container a:link,
  .login-form-container a:visited {
  }
  
  .login-btn {
  }
  
  .login-btn {
  }
  
  .login-btn:hover {
  }
  
  .login-btn:active {
  }
}

/* CREATE USER FORM */

.user-create-page {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  font-weight: 600;
  margin: 20px auto;
}

.create-user-form-container {
  margin: 40px auto;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
}

.username-err,
.email-err,
.password-err {
  font-size: 2rem;
}

.create-error-text {}

.create-user-title {
  font-size: 2rem;
  font-weight: 600;
  margin: 20px auto;
}

.create-user-form {
  width: 100%;
  height: auto;
  margin: 60px 60px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(-45deg,
  rgba(107,147,170, 0.9),
  rgba(134, 172, 194, 0.8),
  rgba(168, 201, 221, 0.7));
  box-shadow: 0 0 3px black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  border-radius: 10px;
}

.create-user-form form {
  display: flex;
  height: auto;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.25rem;
}

.username-create {
  display: block;
  margin: 10px auto;
  text-align: center;
}

.username-create label {
  display: block;
  margin: 10px auto;
}

.username-create input {
  display: block;
  margin: 10px auto;
  font-size: 1.25rem;
}

.email-create {
  display: block;
  margin: 10px auto;
  text-align: center;
}

.email-create label {
  display: block;
  margin: 10px auto;
}

.email-create input {
  display: block;
  margin: 10px auto;
  font-size: 1.25rem;
}

.password-create {
  display: block;
  margin: 10px auto;
  text-align: center;
}

.password-create label {
  display: block;
  margin: 10px auto;
}

.password-create input {
  display: block;
  margin: 10px auto;
  font-size: 1.25rem;
}

.confirm-password-create {
  display: block;
  margin: 10px auto;
  text-align: center;
}

.confirm-password-create label {
  display: block;
  margin: 10px auto;
}

.confirm-password-create input {
  display: block;
  margin: 10px auto;
  font-size: 1.25rem;
}

.create-user-btn-container {
  margin: 0 auto;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.create-user-btn {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: rgb(251,202,99);
  font-weight: 600;
  font-size: 1rem;
  margin: 20px auto;
  border: none;
  cursor: pointer;
  background-position: center;
}

/* MOBILE CREATE USER PAGE */

@media only screen and (max-device-width: 550px) {
  .user-create-page {
  }
  
  .create-user-form-container {
  }
  
  .username-err,
  .email-err,
  .password-err {
  }
  
  .create-error-text {}
  
  .create-user-title {
  }
  
  .create-user-form {
    width: auto;
    position: relative;
    left: -70px;
    top: 180px;
  }
  
  .create-user-form form {
  }
  
  .username-create {
  }
  
  .username-create label {
  }
  
  .username-create input {
    font-size: 1.35rem;
  }
  
  .email-create {
  }
  
  .email-create label {
  }
  
  .email-create input {
    font-size: 1.35rem;
  }
  
  .password-create {
  }
  
  .password-create label {
  }
  
  .password-create input {
    font-size: 1.35rem;
  }
  
  .confirm-password-create {
  }
  
  .confirm-password-create label {
  }
  
  .confirm-password-create input {
    font-size: 1.35rem;
  }
  
  .create-user-btn-container {
  }
  
  .create-user-btn {
  }
}

/* USER MAIN PAGE */

.user-container {
  margin: 200px auto 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.view-creatures-btn {
  display: block;
  margin: 40px auto;
  width: 250px;
  height: 100px;
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(-20deg,
  rgba(5,53,39, 0.8),
  rgba(67,128,41, 0.7));
  color: rgb(240, 200, 71);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 0 4px black;
}

.edit-user-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  background-color: rgba(5,53,39, 0.9);
  color: rgb(212,175,55);
  width: 250px;
  height: 100px;
}

.user-container a:link,
.user-container a:visited {
  text-decoration: none;
  color:  rgb(212,175,55);
}

/* EDIT USER PAGE */

.user-info {
  margin: 20px auto;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

.view-creatures-link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.75rem;
  font-weight: 600;
  background: linear-gradient(-20deg,
  rgba(47, 124, 66, 0.9),
  rgba(111, 167, 125, 0.8));
  color:  rgb(245, 245, 245);
  width: 250px;
  height: 100px;
  position: absolute;
  left: 150px;
  top: 40px;
  border-radius: 4px;
  box-shadow: 0 0 3px black;
}

.user-info a {
  text-decoration: none;
}

.user-info a:link,
.user-info a:visited {
  text-decoration: none;
}

.user-update-form {
  width: 100%;
  height: auto;
  margin: 20px 60px;
  padding: 10px 40px;
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: linear-gradient(-45deg,
  rgba(107,147,170, 0.9),
  rgba(134, 172, 194, 0.8),
  rgba(168, 201, 221, 0.7));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  border: none;
  box-shadow: 0 0 3px black;
  color: rgb(59, 59, 59);
}

.user-update-form form {
  font-size: 1.5rem;
  font-weight: 600;
}

.form-title {
  margin: 20px auto;
  display: block;
  color: rgb(59, 59, 59);
}

.user-info-tip {
  font-size: 1rem;
  margin: 0 auto 40px auto;
  display: block;
  color: rgb(59, 59, 59);
}

.username-label {
  margin: 20px auto 5px auto;
}

.username-label label {}

.username-input {
  margin: 0 auto 40px auto;
}

.username-input input {
  font-size: 1.25rem;
}

.email-label {
  margin: 40px auto 5px auto;
}

.email-label label {}

.email-input {
  margin: 0 auto 40px auto;
}

.email-input input {
  font-size: 1.25rem;
}

.password-label {
  margin: 40px auto 0 auto;
}

.password-label label {}

.password-input input {
  font-size: 1.25rem;
  margin: 0 20px;
  text-align: center;
}

.show-password-btn {
  position: relative;
  left: 20px;
  font-size: 1.25rem;
}

.update-user-btn-container {
  margin: 40px auto 20px auto;
}

.update-user-btn {
  width: 125px;
  height: 30px;
  background: rgb(251,202,99);
  color: black;
  border: none;
  font-weight: 600;
  font-size: 1rem;
} 

.delete-user-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-wrap: wrap;
  flex-direction: column;
  background: linear-gradient(-45deg,
  rgba(255, 255, 255, 0.4),
  rgba(255, 255, 255, 0.3),
  rgba(255, 255, 255, 0.2));
  width: 400px;
  height: 350px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 3px black;
}

.delete-title {
  margin: 30px auto;
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: black;
}

.delete-user-btn-container {
  display: block;
}

.delete-user-btn {
  background: rgb(173, 70, 80);
  width: 150px;
  height: 40px;
  font-size: 1rem;
  font-weight: 600;
  border: 2px groove rgb(173, 70, 80);
}

.confirm-delete {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 20px auto;
}

.confirm-delete label {
  font-size: 1.35rem;
  margin: 20px auto 5px auto;
}

.confirm-delete input {
  font-size: 1.2rem;
}

.confirm-delete-user-btn {
  background: rgb(179, 30, 45);
  color: white;
  border: none;
  margin: 15px auto;
  width: 125px;
  height: 30px;
  font-weight: 600;
  font-size: .9rem;
}

/* MOBILE EDIT USER PAGE */

@media only screen and (max-device-width: 550px) {
  .user-info {
    margin: 350px auto;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .user-info a {
    text-decoration: none;
    width: 0;
  }
  
  .view-creatures-link {
    position: relative;
    width: auto;
    top: 140px;
    left: 80px;
  }
  
  .user-info a:link,
  .user-info a:visited {
    text-decoration: none;
  }
  
  .user-update-form {
    width: 100%;
    height: auto;
    margin: 20px 60px;
    padding: 10px 40px;
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border: none;
    box-shadow: 0 0 3px black;
  }
  
  .user-update-form form {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  .form-title {
    margin: 20px auto;
    display: block;
  }
  
  .user-info-tip {
    font-size: 1rem;
    margin: 0 auto 40px auto;
    display: block;
  }
  
  .username-label {
    margin: 20px auto 5px auto;
  }
  
  .username-label label {}
  
  .username-input {
    margin: 0 auto 40px auto;
  }
  
  .username-input input {
    font-size: 1.25rem;
  }
  
  .email-label {
    margin: 40px auto 5px auto;
  }
  
  .email-label label {}
  
  .email-input {
    margin: 0 auto 40px auto;
  }
  
  .email-input input {
    font-size: 1.25rem;
  }
  
  .password-label {
    margin: 40px auto 0 auto;
  }
  
  .password-label label {}
  
  .password-input input {
    font-size: 1.25rem;
    margin: 0 20px;
    text-align: center;
  }
  
  .show-password-btn {
    display: none;
  }
  
  .update-user-btn-container {
    margin: 40px auto 20px auto;
  }
  
  .update-user-btn {
    width: 125px;
    height: 30px;
    background: rgb(251,202,99);
    color: black;
    border: none;
    font-weight: 600;
    font-size: 1rem;
  } 
  
  .delete-user-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
    background: linear-gradient(-45deg,
    rgba(255, 255, 255, 0.4),
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.2));
    width: auto;
    padding: 10px;
    height: 350px;
    border-radius: 5px;
    border: none;
    margin: 20px auto 30px auto;
  }
  
  .delete-title {
    margin: 30px auto;
    display: block;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    color: black;
  }
  
  .delete-user-btn-container {
    display: block;
  }
  
  .delete-user-btn {
    width: 150px;
    height: 40px;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .confirm-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 20px auto;
  }
  
  .confirm-delete label {
    font-size: 1.3rem;
    margin: 20px auto 5px auto;
  }
  
  .confirm-delete input {
    font-size: 1.25rem;
  }
  
  .confirm-delete-user-btn {
    color: white;
    border: none;
    margin: 15px auto;
    width: 125px;
    height: 30px;
    font-weight: 600;
    font-size: .9rem;
  }
}

/* FORGOT PASWORD FORM */

.forgot-password-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  margin: 275px auto 0 auto;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(-45deg,
  rgba(107,147,170, 0.9),
  rgba(134, 172, 194, 0.8),
  rgba(168, 201, 221, 0.7));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  box-shadow: 0 0 3px black;
  border-radius: 5px;
  padding: 40px;
  width: 600px;
  height: auto;
}

.forgot-info {
  display: block;
  font-size: 1.25rem;
  margin: 5px auto 20px auto;
}

.forgot-password-form form {}

.email-forgot-input {}

.email-forgot-input label {}

.email-forgot-input input {
  margin: 20px auto;
  font-size: 1.75rem;
}

.get-reset-code {}

.loading {
  position: absolute;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  left: 850px;
  top: 225px;
}

.loading-text {
  font-size: 2rem;
  font-weight: 600;
  display: block;
}

.get-code-btn {
  width: 175px;
  height: 40px;
  background: rgb(251,202,99);
  color: black;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 30px auto;
  cursor: pointer;
}

/* MOBILE FORGOT PASSWORD FORM */

@media only screen and (max-device-width: 550px) {
  .forgot-password-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    margin: 300px auto 0 auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    background: linear-gradient(-45deg,
    rgba(107,147,170, 0.9),
  rgba(134, 172, 194, 0.8),
  rgba(168, 201, 221, 0.7));
    box-shadow: 0 0 3px black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border-radius: 5px;
    width: auto;
    height: auto;
  }
  
  .forgot-info {
    display: block;
    font-size: 1.25rem;
    margin: 5px auto 20px auto;
  }
  
  .forgot-password-form form {}
  
  .email-forgot-input {}
  
  .email-forgot-input label {}
  
  .email-forgot-input input {
    margin: 20px auto;
    font-size: 1.35rem;
  }
  
  .get-reset-code {}
  
  .loading {
    display: none;
  }
  
  .loading-text {
    font-size: 2rem;
    font-weight: 600;
    display: block;
  }
  
  .get-code-btn {
    width: 175px;
    height: 40px;
    background: rgb(251,202,99);
    color: black;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 30px auto;
    cursor: pointer;
  }
}

/* RESET CODE FORM */

.reset-code-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  margin: 225px auto 0 auto;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  background: linear-gradient(-45deg,
  rgba(107,147,170, 0.9),
  rgba(134, 172, 194, 0.8),
  rgba(168, 201, 221, 0.7));
  box-shadow: 0 0 3px black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  border-radius: 5px;
  padding: 30px;
  width: 600px;
  height: auto;
}

.reset-code-form form {}

.reset-code-form label {
}

.reset-code-form input {
  font-size: 2rem;
  margin: 20px auto 5px auto;
  display: block;
  width: 225px;
}

.submit-code-btn {
  width: 175px;
  height: 40px;
  background: rgb(251,202,99);
  color: black;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 30px auto;
  cursor: pointer;
  border-radius: 5px;
}

.resend-code {}

.resend-code-text {
  font-size: 1.25rem;
  margin: 20px 5px;
}

.resend-code-btn {
  width: 125px;
  height: 40px;
  background: rgb(251,202,99);
  border-radius: 5px;
  color: black;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  margin: 30px 10px;
  cursor: pointer;
}

/* MOBILE RESET CODE FORM */  

@media only screen and (max-device-width: 550px) {
  .reset-code-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    margin: 300px auto 0 auto;
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border-radius: 5px;
    width: auto;
    height: auto;
  }
  
  .reset-code-form form {}
  
  .reset-code-form label {
  }
  
  .reset-code-form input {
    font-size: 1.5rem;
    margin: 20px auto 5px auto;
    display: block;
    width: 225px;
  }
  
  .submit-code-btn {
    width: 175px;
    height: 40px;
    background: rgb(251,202,99);
    color: black;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 30px auto;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .resend-code {}
  
  .resend-code-text {
    font-size: 1.25rem;
    margin: 20px 5px;
  }
  
  .resend-code-btn {
    width: 125px;
    height: 40px;
    background: rgb(251,202,99);
    border-radius: 5px;
    color: black;
    border: none;
    font-size: 1rem;
    font-weight: 600;
    margin: 30px 10px;
    cursor: pointer;
  }
}

/* RESET PASSWORD FORM */

.reset-password-container {
}

.cancel-reset-btn {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 150px;
  background: rgb(82, 82, 82);
  color: white;
  border: none;
  font-size: 1.35rem;
  font-weight: 600;
  border-radius: 2px;
  box-shadow: 0 0 4px black;
}

.reset-password-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: column;
  margin: 225px auto 0 auto;
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
  background: linear-gradient(-45deg,
  rgba(107,147,170, 0.9),
  rgba(134, 172, 194, 0.8),
  rgba(168, 201, 221, 0.7));
  box-shadow: 0 0 3px black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  border-radius: 5px;
  padding: 70px 50px;
  width: 600px;
  height: auto;
}

.password-input {
  display: block;
  margin: 0 auto 50px auto;
  text-align: center;
}

.password-input label {
  display: block;
}

.password-input input {
  font-size: 1.25rem;
  margin: 20px auto;
}

.first-password-input input {
  margin: 20px 0 0 40px;
}

.show-password {
  position: relative;
  left: 40px;
  width: auto;
  height: auto;
  font-size: 1.5rem;
}

.confirm-password-input {}

.confirm-password-input label {
}

.confirm-password-input input {
  font-size: 1.25rem;
  display: block;
  margin: 20px auto;
}

.submit-password-reset {}

.submit-reset-btn {
  width: 175px;
  height: 40px;
  background: rgb(251,202,99);
  color: black;
  border: none;
  font-size: 1.3rem;
  font-weight: 600;
  margin: 30px auto 0 auto;
  cursor: pointer;
  border-radius: 5px;
}

/* MOBILE RESET PASSWORD FORM */

@media only screen and (max-device-width: 550px) {
  .reset-password-container {
  }
  
  .cancel-reset-btn {
    position: absolute;
    width: 200px;
    height: 50px;
    top: 175px;
    right: 85px;
    background: rgb(82, 82, 82);
    color: white;
    border: none;
    font-size: 1.35rem;
    font-weight: 600;
    border-radius: 2px;
    box-shadow: 0 0 4px black;
  }
  
  .reset-password-container form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    margin: 250px auto 0 auto;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    border-radius: 5px;
    width: 80vw;
    height: auto;
    position: fixed;
    left: -10px;
  }

  .show-password {
    display: block;
    position: fixed;
    top: 260px;
    left: 300px;
    width: auto;
    height: auto;
    font-size: 1.5rem;
  }
  
  .password-input {
    margin: 0 auto 50px auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    flex-direction: column;
  }
  
  .password-input label {
    display: block;
  }
  
  .password-input input {
    font-size: 1.25rem;
    display: block;
    margin: 20px auto 5px auto;
  }
  
  .confirm-password-input {}
  
  .confirm-password-input label {
  }
  
  .confirm-password-input input {
    font-size: 1.25rem;
    display: block;
    margin: 20px auto;
  }
  
  .submit-password-reset {}
  
  .submit-reset-btn {
    width: 175px;
    height: 40px;
    background: rgb(251,202,99);
    color: black;
    border: none;
    font-size: 1.3rem;
    font-weight: 600;
    margin: 30px auto 0 auto;
    cursor: pointer;
    border-radius: 5px;
  }
} 
