@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.index-container {
  width: 45rem;
  height: auto;
  display: block;
  margin: 1rem auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#welcome-header-container {
  display: block;
  margin: 0 auto 2rem auto;
  width: 40rem;
  text-align: center;
}

#welcome-header {
  color: white;
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.welcome-user-container {
  display: flex;
  flex: 1;
  width: 30rem;
  margin: 0 auto;
  flex-direction: column;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background: linear-gradient(-45deg,
  #315659,
  #496a6d,
  #608183);
  box-shadow: 0 2px 6px black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  border-radius: 10px;
}

.create-account-text {
  margin: 60px auto 0 auto;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

.create-account-link {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  border: 0.2rem solid #FFC15E;
  background: #FFC15E;
  width: 19rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  margin: 1rem auto 4rem auto;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  transition: transform 0.4s;
}

.create-account-link:hover {
  background: #ffcc74;
  transform: scale(1.1);
}

.welcome a {
  text-decoration: none;
}

@media (max-width: 900px) {
  .index-container {
    display: block;
    width: 100%;
    height: auto;
    margin: 2rem auto 0 auto;
  }

  #welcome-header-container {
    display: block;
    width: auto;
    margin: 0 auto;
  }

  #welcome-header {
    font-size: 2.05rem;
    margin: 2rem auto;
  }

  .welcome-user-container {
    display: block;
    width: 80%;
    margin: 0 auto;
    height: auto;
    padding-bottom: 0.3rem;
  }

  .create-account-link {
    font-size: 1.5rem;
  }
}