.index-container {
  width: 35%;
  height: auto;
  display: block;
  margin: 60px auto;
  text-align: center;
  background: linear-gradient(-45deg,
  rgba(5,53,39, 0.9),
  rgba(67,128,41, 0.9),
  rgba(97,154,70, 0.7));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  border-radius: 10px;
}

.welcome {
  display: flex;
  flex: 1;
  flex-direction: column;
  text-align: center;
}

.create-account-text {
  margin: 40px auto 0 auto;
  font-size: 1.5rem;
}

.create-account-link {
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 600;
  border: 2px solid gold;
  background: gold;
  width: 190px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: black;
  margin: 10px auto 40px auto;
  border-radius: 5px;
}

.welcome a {
  text-decoration: none;
}