@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background-image: linear-gradient(25deg,
  rgba(97,154,70, 0.4),
  rgba(67,128,41, 0.4)),
  url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-size: 10px;
}

.App {
  width: 100vw;
  height: 100vh;
  margin: 1rem auto;
  font-family: 'Open Sans', sans-serif;
}

.quote-container {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.quote {
  font-style: italic;
  font-size: 1.3rem;
  font-family: 'Open Sans', sans-serif;
  color: rgb(94, 94, 94);
}

.quote-credit {
  font-style: normal;
  font-size: 1.1rem;
  display: block;
  font-family: 'Open Sans', sans-serif;
  color: rgb(94, 94, 94);
}

.credit {
  text-decoration: none;
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  color: rgb(200,220,244);
}

.github-link,
.github-link:visited {
  color: rgb(200,220,244);
  text-decoration: none;
}

.github-link:hover {
  color: rgb(166, 191, 221);
}

.return-home-link {
  position: absolute;
  left: 150px;
  top: 100px;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background: linear-gradient(-20deg,
  rgba(97, 83, 204, 0.9),
  rgba(115, 102, 218, 0.8));
  box-shadow: 0 0 3px black;
  color: rgb(245, 245, 245);
  width: 200px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.creatures-return-link {
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background: linear-gradient(-20deg,
  rgba(77, 126, 155, 0.9),
  rgba(124, 161, 182, 0.8));
  box-shadow: 0 0 3px black;
  color: white;
  width: 200px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 85px;
  top: 0;
}

.creatures-return-link-update,
.creatures-return-link-obj {
  position: absolute;
  left: 20px;
  top: 100px;
  font-size: 1.15rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background: linear-gradient(-20deg,
  rgba(77, 126, 155, 0.9),
  rgba(124, 161, 182, 0.8));
  box-shadow: 0 0 3px black;
  color: white;
  width: 200px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.return-btn {
  width: auto;
  height: 6rem;
  position: absolute;
  left: 2.5%;
  top: 2.5%;
  border-radius: 0.5rem;
  background: linear-gradient(-20deg,
  rgba(77, 126, 155, 0.9),
  rgba(124, 161, 182, 0.8));
  box-shadow: 2px 2px 10rem 1px white;
  color: white;
  font-size: 1.15rem;
  font-weight: 600;
}

@media only screen and (max-device-width: 55rem) {
  .create-btn {
    height: 10rem;
    width: 27.5rem;
    margin: 5rem auto 0 auto;
    font-size: 1.75rem;
    text-decoration: none;
  }

  .create-btn-container {
    text-align: center;
    display: block;
    position: fixed;
    left: 12%;
    top: 0;
  }
}

.return-btn-container {
  position: absolute;
  left: 2.5%;
  top: 2.5%;
}

.team-full {
  width: auto;
  height: 5rem;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 7.5rem;
  left: 2rem;
}

.full-text{
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

.full-text a:link {
  text-decoration: none;
  cursor: alias;
}

.max-text {
  font-size: 2rem;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-device-width: 55rem) {
  .team-full {
    text-align: center;
    margin: 0 auto;
    position: absolute;
    left: 2rem;
  }

  .full-text {
    text-align: center;
  }
}

@media only screen and (max-device-width: 55rem) {
  .App {
    width: 85vw;
    height: 90vh;
  }
  
  .return-btn-container {
    position: absolute;
    float: right;
    left: 21%;
    top: 2%;
    height: 4rem;
    width: auto;
  }
  
  .return-btn {
    width: 20rem;
    height: 8rem;
    position: absolute;
    top: -8%;
    border-radius: 0.5rem;
    font-weight: 600;
    font-size: 1.75rem;
    text-align: center;
    text-shadow: none;
  }
}

@media only screen and (min-device-width: 120rem) {
  .creature-form {
    white-space: nowrap;
  }

  .creatures-return-link-obj {
    margin: 30px 0 0 65px;
  }
}

@media only screen and (max-device-width: 55rem) {
  .update-return-btn {
    position: absolute;
    left: 0.2rem;
    top: 1rem;
    width: 20rem;
    height: 8rem;
  }
}

.objective-bg-modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.objective-modal-content {
  width: 40rem;
  height: 40rem;
  background-color: white;
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  position: relative;
  font-family: 'Open Sans', sans-serif;
}

.close-modal-button {
  position: absolute;
  top: 0;
  font-size: 4rem;
  cursor: pointer;
}

.close-actions {}

.close {}

.objectives {} /* ul */

/* Creature Update Page */

.update-container {
  width: auto;
  height: auto;
  margin: 0 auto;
  padding: 0 0 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
}

@media (min-width: 120rem) {
  .update-container {
    background-color: rgba(5,53,39, 0.3);
    border-radius: 15px;
    white-space: nowrap;
  }
}

@media only screen and (max-device-width: 55rem) {
  .update-container {
    flex-direction: row;
    position: absolute;
    top: 10rem;
    left: 0;
  }
}

/* Adjacent Creature Display */

.adjacent-creature-container {
  margin: 6rem auto 0 auto;
  height: 67.5rem;
}

.adjacent-creature-container-fluid {
}

.adjacent-creature-display {
}

.adjacent-creature-age {
  text-align: center;
  font-weight: 600;
  line-height: 1.5rem;
}

.kill-btn-container {
  text-align: center;
  margin: 2rem auto;
}

.kill-btn {
  background-color: rgb(230, 76, 92);
  box-shadow: 0 0 3px black;
  border: none;
  font-size: 1rem;
  color: white;
  width: 5rem;
  height: 4rem;
  font-weight: 600;
}

.kill-btn:hover {
  background: rgb(129, 31, 41);
}

.kill-btn:active {
  background: rgb(97, 26, 33);
}

@media only screen and (max-device-width: 55rem) {
  .adjacent-creature-container {
    margin: 22rem auto 0 auto;
  }

  .user-info a {
    font-size: 1.15rem;
    font-weight: 600;
    width: 20rem;
    height: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    left: 10rem;
    top: 10rem;
  }
}

/* Delete Creature Modal */

.confirm-delete-modal {
  height: auto;
  width: auto;
  text-align: center;
  display: flex;
}

.confirm-delete {
  display: block;
  width: auto;
  height: auto;
  margin: 2rem auto;
}

.delete-form {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.delete-btn {
  text-align: center;
  margin-top: 1rem;
  background-color: rgb(138, 29, 40);
  border: none;
  box-shadow: 0 0 3px black;
  color: white;
  height: 3rem;
  font-weight: 600;
}

@media (min-width: 130rem) {
  .confirm-delete-modal {
    margin: 0 auto;
    text-align: center;
    display: block;
  }
}

/* Objective List */

@media (max-width: 130rem) {
  .objectives-container {
    margin-top: 8rem;
  }
}

@media only screen and (max-device-width: 55rem) {
  .objectives-container {
    margin-top: 0;
  }
}

.objectives-container {
  width: auto;
  font-family: 'Open Sans', sans-serif;
}

.obj-list-container {
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.5); 
  width: 70rem;
  height: 60rem;
  margin: 0 auto;
  overflow: auto;
  box-shadow: 0 0 3px black;
}

.objectives-list {
  height: 49rem;
  width: 52.5rem;
  text-align: center;
  margin: 0 auto;
}

.obj-list-title {
  text-align: center;
  font-size: 2rem;
  color: white;
}

.no-obj-text {
  text-align: center;
  font-size: 2rem;
  color: black;
  width: auto;
  word-break: normal;
  display: block;
  margin: 10rem auto;
}

.swipe-text {
  display: none;
}

/* New Objective Form */

.objective-form-container {
  margin: 8rem auto 0 auto;
  border: none;
  box-shadow: 0 0 3px black;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  width: 30rem;
  height: auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.add-obj-title {
  font-size: 2rem;
  color: white;
}

.objective-form {
  font-size: 1.125rem;
}

.objective-form form {
}

.obj-text-input {
  font-size: 1.125rem;
  margin: 2.5rem auto;
}

.obj-time-input {
  margin: 2.5rem auto;
}

.obj-time-input-text {
  margin: 0 auto 0 0.7rem;
  font-size: 1.25rem;
  color: white;
}

.obj-difficulty-select {
  font-size: 1.125rem;
  margin: 0 auto;
}

.obj-difficulty-select-text {
  font-size: 1.125rem;
  margin: 2rem auto 2px auto;
  display: block;
  color: white;
}

.add-obj-btn {
  font-size: 1.2rem;
  background-color: rgb(251,202,99);
  color: black;
  border-radius: 0.5rem;
  margin: 8rem auto 3rem auto;
  width: 5rem;
  height: 5rem;
  font-weight: 600;
  border: none;
}

@media only screen and (max-device-width: 55rem) {
  .obj-list-container {
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.5); 
    width: 90vw;
    height: auto;
    margin: 0 auto 4rem auto;
    overflow: auto;
  }

  .swipe-text {
    display: block;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0.5rem;
    color: rgba(0, 0, 0, 0.7);
    font-style: italic;
  }
  
  .objectives-list {
    height: 49rem;
    width: 52.5rem;
    text-align: center;
    margin: 0 auto;
  }
  
  .obj-list-title {
    text-align: center;
    font-size: 1.75rem;
    color: white;
  }
  
  .no-obj-text {
    text-align: center;
    font-size: 1.5rem;
    color: black;
    width: 20rem;
    display: block;
    margin: 10rem auto;
  }

  /* Complete Objective Form */

  .objective-complete-form {
    margin: 0 auto;
    display: block;
  }
  
  .objective-complete-form form {
    margin: 0 auto;
    display: block;
  }
  
  .objective-complete-form input {
    display: block;
    margin: 0 auto 1rem auto;
  }
  
  .time-text {
    display: block;
    font-size: 0.9rem;
  }

  .time-input {
    width: 7.5rem;
  }
  
  .objective-complete-form button {
    display: block;
    margin: 0 auto;
  }
  
  .objective-complete-btn-container {
    display: block;
    margin: 0 auto;
  }
  
  .objective-complete-btn-container form {
    display: block;
    margin: 0 auto;
  }
  
  .objective-complete-btn-container button {
    display: block;
    margin: 0 auto;
  }
}

.return-home-link {
  position: absolute;
  left: 5rem;
  top: 7.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  color: gold;
  width: 20rem;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MOBILE CREATURE EDIT */

@media only screen and (max-device-width: 55rem) {
  .creatures-return-link-update {
    margin: 5rem 0 0 6.5rem;
  }
}

/* MOBILE */

@media (max-width: 900px) {
  .credit {
    position: absolute;
    top: 0.5rem;
  }

  .quote-container {
    position: absolute;
    top: 5%;
    left: 0;
  }

  .quote {}

  .quote-credit {}
}
