@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-size: 10px;
}

.App {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}

.quote-container {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.quote {
  font-style: italic;
  font-size: 1.3rem;
  font-family: 'Open Sans', sans-serif;
  color: rgba(255, 255, 255, 0.719);
}

.quote-credit {
  font-style: normal;
  font-size: 1.1rem;
  display: block;
  width: 10rem;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.quote-credit:link,
.quote-credit:visited {
  color: rgba(255, 255, 255, 0.795);
}

.quote-credit:hover {
  color: rgb(255, 255, 255);
}

.credit {
  text-decoration: none;
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  font-family: 'Open Sans', sans-serif;
  color: rgb(200,220,244);
}

.github-link,
.github-link:visited {
  color: rgb(200,220,244);
  text-decoration: none;
}

.github-link:hover {
  color: rgb(166, 191, 221);
}

.return-home-link {
  position: absolute;
  left: 150px;
  top: 100px;
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background: linear-gradient(-20deg,
  rgba(97, 83, 204, 0.9),
  rgba(115, 102, 218, 0.8));
  box-shadow: 0 0 3px black;
  color: rgb(245, 245, 245);
  width: 200px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.return-home-link {
  position: absolute;
  left: 5rem;
  top: 7.5rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  color: gold;
  width: 20rem;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.creatures-return-link {
  font-size: 1.5rem;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background: linear-gradient(-20deg,
  rgba(77, 126, 155, 0.9),
  rgba(124, 161, 182, 0.8));
  box-shadow: 0 0 3px black;
  color: white;
  width: 200px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  left: 85px;
  top: 0;
}

/* MOBILE */

@media (max-width: 900px) {
  .App {
    width: 85vw;
    height: 100vh;
  }

  .credit {
    position: absolute;
    top: 1rem;
  }

  .quote-container {
    display: block;
    margin: 4rem auto;
    width: 100%;
  }

  .quote {}

  .quote-credit {}
}
